<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyfcbvtxrNMhD9PxLsdoXUPIgmTY_8DzA</string>
	<key>GCM_SENDER_ID</key>
	<string>493614905762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DavidWilliams.Link</string>
	<key>PROJECT_ID</key>
	<string>link-a41ec</string>
	<key>STORAGE_BUCKET</key>
	<string>link-a41ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493614905762:ios:e55371ca4c3c4497769afb</string>
</dict>
</plist>